header{
    background-color: #949494;
    height: 100px;
    
    color: white;
}

header h1{
    padding-top: 25px;
    font-family: 'Julius Sans One', sans-serif;
}

#form-div{
    margin: auto;
    width: 500px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#content-holder{
    margin-top: 3%;
    margin-bottom: 2%
}


#navbar{
    width: 500px;
    margin: auto;
}

#divCreateOrLoad{
    width: 600px;
    margin: auto;
}
#divCreateWorkout{
 background-color: black;
 color: white;
 height: 200px;
 border-radius: 10px;
 text-align: center;
 cursor: pointer;
}

#divCreateWorkout h4{
    padding-top: 75px;
}

#divLoadWorkout{
    background-color: green;
    color: white;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}

#divLoadWorkout h4{
    padding-top: 75px;
}

#divLoadWorkouts{
    margin: auto;
    background-color: green;
    border-radius: 10px;
    color: white;
    width: 600px;
    height: auto;
    min-height: 500px;

}


.whiteLink{
    color: white;
    text-decoration: none;
}

#divLoadWorkouts button:hover{
    color: white;
    text-decoration: none;
    font-size: large;
}

#addAlert{
    display: none;
    width: 500px;
    margin: auto;
}